.Breadcrumb {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: rgb(69, 48, 114);
    align-items: center;
    
}



.Breadcrumb .breadcrumb-item {
    margin: 0 0.5rem;
    color: white !important;
    text-decoration: none !important;
    text-transform: none !important;
   
}
.Breadcrumb span {
    color: white !important;
    text-decoration-line: none !important;

    
} 
.Appointmentheading {
font-size: 30px;
padding-bottom: 15px;

}
.Appointmentform {
    color: white;
}
