.advantages-section {
  background-color: #f8f9fa;
}

.feature-item {
  /* background-color: rgba(204, 54, 102, 0.7); */
  background-color: #150f3d;;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;

}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-item h4 {
  color: #2d3748;
  font-weight: 600;
  color: white;
}

.text-primary {
  color: #ffffff !important;
  letter-spacing: 2px;
  font-weight: 700;
}

.text-muted {
  color: white !important;
}

.magic-advantages {
  background: #fff;
  padding: 4rem 0;
}

.section-subtitle {
  color: #6c757d;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}

.section-description {
  color: #718096;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
}