.background-color-service{
    /* background-color: #6b3c6a; */
    background-color: rgb(69, 48, 114);
    padding: 50px 0;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}




.our-ser span {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #c36;


}

.our-ser h3 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
}

.our-ser p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    color: white;
}
/* .img-width {
    width: 50%;
    height: 50%;
    
} */
.img {
    width: 20%;
    height: 40%;
    
}
/* .card3:hover {
    transition: all .4s ease !important;
    overflow: hidden !important;
    background-color: #35093C;
} */




@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bouncing:hover {
    animation: bounce 1s infinite;
}

.card {
    max-width: 100%;
    background-color:transparent !important;
    color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: none !important;
    
    
    text-align: start;
}
.card:hover {
    background-color:#150f3d !important;
    border: none;
}
.service2 {
    display: flex;


}

.card3 {
    transition: all 0.4s ease !important;
    overflow: hidden !important;
   
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card3:hover {
    background-color: #150f3d!important;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    
}

.img-hover {
    transition: transform 0.4s ease-in-out;
    
}

.img-hover:hover {
    transform: scale(1.1);
    
}
@media only screen and (max-width: 420px) {
   .our-ser {
    text-align: center;
    padding-bottom: 30px;
   }
   .our-ser span {
   font-size: 20px;
   }
   .our-ser h3{
    font-size: 35px;
   }
   .our-ser p{
    font-size: 20px;
   }
  }